body {
    display: flex;
    flex-direction: column;
    background: var(--darkest);
    overflow: hidden;
}

main {
    width: 100%;
    height: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-rows: 1fr;
}

.selfie {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.486), rgba(0, 0, 0, 0.534)), url('images/selfie.jpg') no-repeat 70% / cover;
    animation: slideInFromLeft .6s ease-in;
}

.selfie__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.seflie__role {
    color: var(--primary);
    margin: .5em 0;
    font-size: 1.2em;
    font-weight: 500;
}

.selfie__fullname {
    color: var(--white);
    font-size: 2.6em;
    font-weight: 400;
}

.selfie__links {
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.selfie__links a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    color: var(--white);
    text-decoration: none;
    transition: color .3s ease-in-out;
}

.selfie__links a:hover {
    color: var(--primary);
}

.selfie__links a svg {
    width: 20%;
}

.personal__information {
    padding: 2em;
    animation: fadeIn 1.3s ease-in;
}

.personal__information__details {
    color: var(--primary);
    margin: 0 0 1em 0;
}

.personal__information__details > span {
    color: var(--dark);
    margin: 0 .7em;
}

.personal__information__header {
    font-weight: 400;
    color: var(--white);
    margin: 0 0 .5em 0;
}

.personal__information__description {
    color: var(--base);
    border-bottom: 1px solid var(--base);
    padding: 0 0 3em 0;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1000px) {

    body {
        overflow: auto;
    }

    main {
        width: 100%;
        height: 200vh;
        flex: 1;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}