@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    width: 100%;
    height: 100vh;
}

:root {
    --white: #f3f3f3;
    --erroneous: #ff5b5b;
    --primary: #44ffb1;
    --darkest: #222;
    --darker: #333;
    --dark: #444;
    --base: #555;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}