body {
    display: grid;
    grid-template-rows: 9% 91% 9%;
    height: 100vh;
    overflow: auto;
}

.header {
    background: #363636d2;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 3em;
}

.header__hello {
    color: var(--white);
    font-size: 3em;
    font-weight: 400;
    animation: slideIn .6s ease-in;
}

.header__fullname {
    color: var(--primary);
    font-size: 4em;
    font-weight: 400;
    animation: slideIn 1s ease-in;
}

@keyframes slideIn {
    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(0);
    }
}

video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

@media screen and (max-width: 1000px) {

    body {
        display: block;
    }

    .header {
        height: 100vh;
    }
}