body {
    background: var(--darkest);
    display: grid;
    grid-template-rows: 9% 91% 9%;
}

#modules {
    width: 100%;
    height: calc(100vh - 5em);
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1em;
    text-align: center;
}

#csy1014__module:target, #csy1017__module:target, #csy1018__module:target {
    transform: translateX(0);
}

.module__content {
    padding: 3em;
    background: var(--darkest);
    color: var(--base);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateY(-200vh);
    z-index: 1;
    transition: transform .6s ease-in-out;
}

.module__content__header {
    font-weight: 400;
    color: var(--primary);
    margin: 0 0 .3em 0;
}

.module__content__data {
    width: 50%;
}

.module__content__data p {
    margin: 0 0 .5em 0;
}

.module__content__data p span {
    font-weight: 600;
}

.module__content__header span {
    color: #fff;
}

.module {
    background: var(--darker);
    font-size: 1.3em;
    font-weight: 400;
    cursor: pointer;
    border-radius: .2em;
}

.module a {
    display: flex;
    color: var(--white);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    border-radius: .2em;
}

.module a span {
    color: var(--primary);
    margin: .3em 0 0 0;
}

#csy1014 {
    background: linear-gradient(#000000a9, #00000080), url('./images/systems.jpg') no-repeat center / cover;
    animation: fadeIn .3s ease-in;
}

#csy1017 {
    background: linear-gradient(#000000a9, #00000080), url('./images/communication.jpg') no-repeat center / cover;
    animation: fadeIn .6s ease-in;
}

#csy1018 {
    background: linear-gradient(#000000a9, #00000080), url('./images/webdev.jpg') no-repeat center / cover;
    animation: fadeIn .9s ease-in;
}

#csy1019 {
    background: linear-gradient(#000000a9, #00000080), url('./images/software.jpg') no-repeat center / cover;
    animation: fadeIn 1.2s ease-in;
}

#csy1020 {
    background: linear-gradient(#000000a9, #00000080), url('./images/problemsolving.jpg') no-repeat center / cover;
    animation: fadeIn 1.5s ease-in;
}

#csy1026 {
    background: linear-gradient(#000000a9, #00000080), url('./images/databases.jpg') no-repeat center / cover;
    animation: fadeIn 1.8s ease-in;
}

@media screen and (max-width: 1000px) {

    body {
        display: block;
    }

    #modules {
        height: 100vh;
        padding: 0;
        grid-gap: 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .module {
        font-size: 1.1em;
        border-radius: 0;
    }

    .module__content {
        padding: 2em;
        height: 100vh;
    }
    
    .module__content__header {
        font-weight: 400;
        color: var(--primary);
    }
    
    .module__content__data {
        width: 100%;
        overflow: auto;
    }
    
    .module__content__data p {
        margin: 0 0 .5em 0;
    }
}