body {
    background: var(--darkest);
    display: grid;
    grid-template-rows: 9% 91% 9%;
}

.report {
    width: 50%;
    height: calc(100vh - 7em);
    background: var(--darker);
    overflow: auto;
    padding: 2em;
    margin: 1em auto;
    
    border-radius: .2em;
}

.report > img {
    width: 50%;
    border-radius: .2em;
    border: 1px solid var(--base);
}

.report > figcaption {
    color: var(--white);
    margin: .2em 0 1em 0;
}

.report::-webkit-scrollbar {
    width: 7px;
}

.report::-webkit-scrollbar-track {
    background: var(--dark);
    border-radius: .5em;
}

.report::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: .5em;
}

.report > h1 {
    color: var(--primary);
    font-weight: 400;
    font-size: 1.5em;
    margin: 0 0 .2em 0;
}

.report > h2 {
    color: var(--primary);
    font-weight: 400;
    font-size: 1.2em;
    margin: 0 0 .2em 0;
}

.report > p {
    color: var(--white);
    margin: 0 0 1em 0;
    width: 100%;
}

.report > p > .break {
    content: '';
    display: block;
    background: #000;
    margin: 1em 0 0 0;
}

.report > p > a {
    text-decoration: none;
    color: var(--primary);
}

.validation-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 1em;
    margin: 0 0 1em 0;
}

.validation-result {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.validation-result > img {
    width: 100%;
    border-radius: .2em;
    flex: 1;
}

.validation-result > figcaption {
    color: var(--white);
    margin: .2em 0 0 0;
}

.report > ol:first-of-type {
    margin: 1em 0 0 0;
}

.report > ol:first-of-type li a {
    text-decoration: none;
    color: var(--base);
    transition: color .3s ease-in-out;
}

.report > ol:first-of-type  a:hover {
    color: var(--primary);
}

.report > ol {
    color: var(--white);
    list-style: none;
}

.report > ol li {
    margin: 0 0 1em 0;
    word-wrap: break-word;
}

.report > ol > ol {
    list-style: none;
    margin: 0 0 1em 1em;
}

@media screen and (max-width: 1000px) {

    body {
        display: block;
    }

    .report {
        width: 90vw;
        height: 96vh;
    }

    .validation-container {
        grid-template-columns: 1fr;
    }
}